// src/LandingPage.scss
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    color: red;
    font-size: 2rem;
    text-align: center;
    transition: opacity 1s;

    &.fade-out {
        opacity: 0;
    }
}
